body{
  font-family : arial;
  margin-bottom: 60px
}
div {
  display: inline
}
div#txttime{
  margin-left: 20px;
  font-size: 10px
}
body {
  background-color: #e6ebed
}
input{
  padding: 5px 12px 5px 12px;
  margin-bottom: 5px;
}
input[type=checkbox] {
  transform: scale(1.6);
}
input[type=range] {
  padding-left: 0px;
  padding-right: 0px;
}
.btn {
  background: #94d4ff;
  background-image: -webkit-linear-gradient(top, #ffffff, #94d4ff);
  background-image: -moz-linear-gradient(top, #ffffff, #94d4ff);
  background-image: -ms-linear-gradient(top, #ffffff, #94d4ff);
  background-image: -o-linear-gradient(top, #ffffff, #94d4ff);
  background-image: linear-gradient(to bottom, #ffffff, #94d4ff);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  padding: 4px 20px 4px 20px;
  border: solid #616aa2 1px;
  text-decoration: none;
  margin-left : 10px;
}

.btn:hover {
  background: #8cd3ff;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.cbx{
  margin : 20px 4px 20px 26px;
}
.cbx:hover{
  cursor: pointer;
  cursor: hand;
}
#myCanvas:hover{
  cursor: pointer;
  cursor: hand;
}